<header>
    <a href="/">
        <img src="img/logo.png" class="logo" alt="logo da empresa" />
    </a>
    <nav class="navbar">
        <a href="#menu"><img src="img/user.png" alt="foto de perfil" /></a>
        <div class="dropdown" id="menu">
            <ul>
                <li><a href="/">Meu perfil</a></li>
                <li><a href="/" class="active">Marcar ponto</a></li>
                <li><a href="/">Folha de pagamento</a></li>
                <li><a href="/">Sair</a></li>
            </ul>
        </div>
        <a href="/logout" title="sair"><i class="fi fi-br-exit"></i></a>
    </nav>
</header>
