<%- include('layouts/head') %>
<h1>
    Ola, seja bem vindo
    <%= user.name %>
</h1>
<a href="/logout">Sair</a>
<hr />
<h3>Pegando horario</h3>
<p id="time">00:00:00</p>
<button type="button" id="btn_save_time">Salvar</button>

<!-- Lista de pontos do dia -->
<ul id="list_save">
    <% point.forEach(p => { %>
    <li><%= p %></li>
    <%})%>
</ul>

<script type="module" src="/js/main.js"></script>
<%- include('layouts/footer') %>
