* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

body {
    background-color: #fff;
    font-size: 1.1em;
}

a {
    color: #373737;
    text-decoration: none;
    display: inline-flex;
}

.number-style {
    font-family: "Miranda Sans", sans-serif;
}

i {
    display: inline-flex;
}

p {
    font-weight: 300;
    color: #373737;
}

h1,
h2,
h3,
h4 {
    color: #333333;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 0.4rem;
}

h2 span {
    color: #439a4d;
}

ul {
    list-style-type: none;
}

hr {
    border: 0;
    width: 100%;
    height: 1px;
    margin-block: 1rem;
    background-color: #eee;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

.mb {
    margin-block: 1rem;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.button-default {
    padding: 0.5rem 2rem;
    border-radius: 8px;
    background-color: #108ded;
    color: #fff;
    font-size: 0.9em;
    font-weight: 400;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205); */

    transition: background-color 300ms ease;
}

.button-default:hover,
.button-default:active {
    background-color: rgba(16, 141, 237, 0.5);
}

.button-icon {
    font-size: 1.1em;
    display: flex;
    color: #373737;
}

/* Ajuste temporario */
@media screen and (max-width: 1600px) {
    header {
        padding: 1rem 10% !important;
    }

    .container {
        padding-inline: 10% !important;
    }
}

@media screen and (max-width: 900px) {
    header {
        padding: 1rem 5% !important;
    }

    .container {
        padding-inline: 5% !important;
    }
}
